[Unit]
Description=transmission tracker add
Requires=network.target

[Service]
Type=simple
ExecStart=/opt/bin/add-trackers-auto.sh
ExecStop=/bin/kill -s TERM $MAINPID
ExecStopPost=/bin/rm -f /tmp/TTAA.*.lock
KillMode=control-group
StandardOutput=null
CPUSchedulingPolicy=idle
Nice=19

[Install]
WantedBy=multi-user.target
