[Unit]
Description=transmission tracker add
Requires=network.target

[Service]
Type=forked
ExecStart=/opt/bin/add_trackers_auto.sh
Restart=always

[Install]
WantedBy=multi-user.target
