[Unit]
Description=transmission tracker add
Requires=network.target

[Service]
Type=simple
ExecStart=/opt/bin/add_trackers_auto.sh
ExecStop=/bin/kill -s TERM $MAINPID
ExecStopPost=/bin/rm -f /tmp/TTAA.*.lock
KillMode=control-group

[Install]
WantedBy=multi-user.target
